# Transforming NCES ELSI data from wide to long

Often we get data with a lot of columns.  This is sometimes refered to as "wide" data.  In this example we are going to take some wide data from NCES that was downloaded and transform it into "long" data.  NOTE: We did do a little processing in Excel.  We deleted the first few rows which described the data.  We also deleted the footer which had notes and data citations.

In [1]:
import pandas as pd
#RAW_US_NCES_ENROLLMENT_BY_GRADE
# Read in the data
xl = pd.ExcelFile("G:/DST/Problem Solved/ELSI Data.xlsx")
xl.sheet_names

['ELSI Export', 'ELSI Export (2)', 'ELSI Export (3)']

This spreadsheet has three tabs in it.  Let's examine the first tab's data:

In [2]:
df = xl.parse(xl.sheet_names[0])
df.head()

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,Prekindergarten Students [Public School] 2009-10,Prekindergarten Students [Public School] 2008-09,Prekindergarten Students [Public School] 2007-08,Prekindergarten Students [Public School] 2006-07,Prekindergarten Students [Public School] 2005-06,Prekindergarten Students [Public School] 2004-05,Prekindergarten Students [Public School] 2003-04,...,Ungraded Students [Public School] 2008-09,Ungraded Students [Public School] 2007-08,Ungraded Students [Public School] 2006-07,Ungraded Students [Public School] 2005-06,Ungraded Students [Public School] 2004-05,Ungraded Students [Public School] 2003-04,Ungraded Students [Public School] 2002-03,Ungraded Students [Public School] 2001-02,Ungraded Students [Public School] 2000-01,Ungraded Students [Public School] 1999-00
0,ABBOTT UNION FREE SCHOOL DISTRICT,New York,3602300,†,†,†,†,†,†,†,...,†,†,98,83,‡,85,87,84,95,88
1,ACADEMIC LEADERSHIP CHARTER SCHOOL,New York,3601001,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,ACADEMY CHARTER SCHOOL,New York,3600997,†,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
3,ACHIEVEMENT ACADEMY CHARTER SCHOOL,New York,3600129,†,†,†,†,†,†,†,...,†,†,†,‡,†,†,†,†,†,†
4,ACHIEVEMENT FIRST BROWNSVILLE CHARTER SCHOOL,New York,3600969,†,†,†,†,†,†,†,...,0,†,†,†,†,†,†,†,†,†

Here's the generalized way we transform the data from wide to long:

In [3]:
ids = list(df.columns[[0, 1, 2]])
df = pd.melt(df, id_vars=ids, var_name='Measure',  value_name = 'Value')
df.head()

,Agency Name,State Name [District] Latest available year,Agency ID - NCES Assigned [District] Latest available year,Measure,Value
0,ABBOTT UNION FREE SCHOOL DISTRICT,New York,3602300,Prekindergarten Students [Public School] 2009-10,†
1,ACADEMIC LEADERSHIP CHARTER SCHOOL,New York,3601001,Prekindergarten Students [Public School] 2009-10,†
2,ACADEMY CHARTER SCHOOL,New York,3600997,Prekindergarten Students [Public School] 2009-10,†
3,ACHIEVEMENT ACADEMY CHARTER SCHOOL,New York,3600129,Prekindergarten Students [Public School] 2009-10,†
4,ACHIEVEMENT FIRST BROWNSVILLE CHARTER SCHOOL,New York,3600969,Prekindergarten Students [Public School] 2009-10,†

## Using the generalized example

Now that we have an example of the process, let's apply it to all the sheets and build one really long data set.  Then let's save the long data as an Excel file!

In [4]:
for sheet_name in xl.sheet_names:
    print('Processing '+sheet_name)
    df_temp = xl.parse(sheet_name)
    df_temp = pd.melt(df_temp, id_vars=ids, var_name='Measure',  value_name = 'Value')
    df_long_exists = 'df_long' in locals() or 'df_long' in globals()
    if df_long_exists:
        df_long = df_long.append(df_temp, ignore_index=True)
    else:
        df_long = df_temp
# Save the long data as an Excel file
writer = pd.ExcelWriter('G:/DST/Problem Solved/Long ELSI Data.xlsx', engine='xlsxwriter')
df_long.to_excel(writer, sheet_name='Sheet1', index=False)
writer.save()
print('Done')

Processing ELSI Export
Processing ELSI Export (2)
Processing ELSI Export (3)
Done